*.o
table_*.h
tables_*.h
mkheader
mkfontdata
aambundle
aamshow
*.aastory
*.bin
aambox6502
**/*~
**/#*#
src/6502/cruncher
src/6502/labels
src/6502/mkfont
src/6502/*.lst
src/6502/*.rpt
src/6502/*.sym
src/6502/*.labels
src/6502/a2.system
src/6502/translit.s
# Apple II test disks (built by test/apple2/Makefile)
test/apple2/aa-exercise/
test/apple2/gosling/
# Bundled disks for the codepoint exercise (built by test/codepoints/Makefile)
test/codepoints/codepoints/
# Test out files
test/*/*.out
